# Data Science Tools and Ecosystem

In this note book, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for Data Science
- List common libraries for Data Science
- List examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientisits use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. matplotlib
3. ggplot2

| Data Science Tools |
| ------- |
| Jupyter |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This is a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Xinran Tian